{% extends "base.html" %}
{% block title %} Afficher IMPRIMANTE {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                type imprimante
            </p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            Nom
                        </th>
                        <th class="align-middle">
                            Date de réservation
                        </th>
                        <th class="align-middle">
                            Durée d'impression
                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
                <tbody>
                    <tr>
                        <td class="align-middle">
                            {{ row.marque_imprimante }}
                        </td>
                        <td class="align-middle">
                            {{ row.date_reservation }}
                        </td>
                        <td class="align-middle">
                            {{ row.duree_fichier }}
                        </td>
                        <td class="align-middle">
                            {{ row.num_serie }}
                        </td>
                        <td class="text-center" class="align-middle">
                            <a class="btn btn-primary" href="{{ url_for('film_add_wtf') }}" role="button">Ajouter</a>
                        </td>
                        <td class="text-center" class="align-middle">
                            <a class="btn btn-warning" href="{{ url_for('film_update_wtf', id_film_btn_edit_html=row.id_reservation) }}" role="button">Edit</a>
                        </td>
                        <td class="text-center" class="align-middle">
                            <a class="btn btn-danger" href="{{ url_for('film_delete_wtf', id_imprimante_btn_delete_html=row.id_reservation) }}" role="button">Delete</a>
                        </td>
                    </tr>
                </tbody>
            {% else %}
                <tbody>
                    <tr>
                        <td>
                            Aucun imprimante.
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{{ url_for('imprimante_ajouter_wtf') }}" role="button">Ajouter</a>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}